<html>
<head>
  <title>Infosys AIM 1.1 </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="modules/authentication/views/login.css">
 
</head>


<body >
 
<div class="container-fluid"  >
<div class="row">
    	<div id="logo">
			<img class="img-responsive" src="modules/authentication/views/images/infosys-logo-baseline-JPEG.jpg"  width="200"  style="float:left" href="https://www.infosys.com">
		</div>
 </div>
				
<div class="col-md-offset-3 col-md-5"    >
	<div class="row header">
		<h4>Advanced Media Analytics</h4>
		<h5>Audience Interaction Management</h5>
	</div> 
	<div class="row"> <!-- blank line after header -->
		<p></p>
	</div>
	<div class ="row"> <!-- Main form row -->
		<div class="col-md-1">  </div>
		<div class="col-md-10" style="padding:0px">
		<div class="row">
			<div ng-show="error" class="error">{{error}}</div>
		</div>
		<div class ="row" style="text-align:left">
		<form name="form" ng-submit="login()" role="form">
		
			<div class="form-group"  >
				<label id="input_label_text"  for="username">Username</label>
				<input type="text" name="username" placeholder="Enter Username" style="font-size:90%" id="username" class="form-control" ng-model="username" required />
				<span ng-show="form.username.$dirty && form.username.$error.required" class="help-block" >Username is required</span>
			</div>
			<div class="form-group"  >
				<label id="input_label_text" for="password">Password</label>
				<input type="password" name="password" id="password" placeholder="Enter password" style="font-size:90%"  class="form-control" ng-model="password" required />
				<span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
			</div>
			<div class="form-group"  >
				<label id="input_label_text" >AIM module</label>
				<select class="form-control" style="font-size:90%"  name="myAIM" ng-model="myAIM" ng-init="myAIM='QoE'" required>
					<option value="QoE" selected>AIM v1.7 - QoE Streaming Analytics</option>
					<option value="Amscaler">AIM - Ad Analytics</option>
				</select>
				 <!--span ng-hide="{{myAIM}}=='0'" class="help-block">Option is required{{myAIM}}</span--> 
			</div>
			<div class="form-actions  text-center">
				<button name="submit" type="submit" ng-disabled="form.$invalid || dataLoading" class="btn-lg btn-primary " >Login</button>
				<img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
			</div>
			
		</form>
		
		</div>
		</div> <!-- col-md-10-->
		<div class="col-md-1">	</div>
	</div> <!--login form row-->
	
	<div class="row text-center">
		<span id="terms-of-use-text">
		<span>By clicking Log In you agree to our </span> 
		<a id="link-terms-of-use" href="https://www.infosys.com/terms" target="_blank">Terms of Use</a> 
		<span >and </span> 
		<a id="link-terms-of-use" href="https://www.infosys.com/privacy" target="_blank">Privacy Statement</a>
		</span>
	</div>
	
</div> <!-- col-md-5-->
</div> <!-- main container -->
</body>

</html>



